@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: #f4f6f8;
  font-weight: 300;
  line-height: 1.25rem;
}
